@font-face {
    font-family: "manrope";
    src: url("../manrope/Manrope-Medium.ttf");
}

div {
    font-family: "manrope";
    &.menu {
        margin-bottom: 80px;
    }
    h2 {
        margin-top: 40px;
        margin-bottom: 12px;
    }

    img {
        &#doctor {
            width: 600px;
            margin-left: 40px;
        }
        &#cross {
            width: 150px;
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    ul {
        &.list {
            list-style-type: circle;
        }
    }
}
section {
    margin-top: 50px;
    margin-bottom: 20px;
}

.text_padding {
    padding: 20px;
}
